In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_excel('database_v01.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5670 entries, 0 to 5669
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     5670 non-null   float64
 1   Tp d      5670 non-null   float64
 2   Tm d      5670 non-null   float64
 3   Tm1,0 d   5670 non-null   float64
 4   hdeep     5670 non-null   float64
 5   mmm       5670 non-null   float64
 6   β         5670 non-null   int64
 7   Spread s  5670 non-null   int64
 8   h         5670 non-null   float64
 9   Hm0 toe   5670 non-null   float64
 10  Tp toe    5670 non-null   float64
 11  Tm toe    5670 non-null   float64
 12  Tm1,0t    5670 non-null   float64
 13  ht        5670 non-null   float64
 14  Bt        5670 non-null   float64
 15  cotαd     5670 non-null   float64
 16  cotαu     5670 non-null   float64
 17  cotαexcl  5670 non-null   float64
 18  cotαincl  5670 non-null   float64
 19  gf_d      5670 non-null   float64
 20  D50_d     5670 non-null   float64
 21  gf_u      5670 non-null   float64
 22  D50_u     5670 non-null   float64
 23  gf        5670 non-null   float64
 24  D         5670 non-null   float64
 25  Rc        5670 non-null   float64
 26  B         5670 non-null   float64
 27  hb        5670 non-null   float64
 28  tanαB     5670 non-null   float64
 29  Bh        5670 non-null   float64
 30  Ac        5670 non-null   float64
 31  Gc        5670 non-null   float64
 32  RF        5670 non-null   int64
 33  CF        5670 non-null   int64
 34  WF        5670 non-null   int64
 35  q         5670 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 1.6 MB

In [8]:
df['β'].value_counts()

0     5068
10     126
25     105
20      63
45      60
60      56
30      45
6       31
40      21
15      15
17       9
12       9
11       8
13       7
9        7
16       6
50       4
5        4
14       4
70       3
18       3
80       3
33       2
7        2
1        2
34       1
32       1
29       1
8        1
2        1
19       1
26       1
Name: β, dtype: int64

In [9]:
df['Spread s'].value_counts()

0     5375
5      262
10      33
Name: Spread s, dtype: int64

In [13]:
df['WF'].value_counts()

6    2814
9    2593
4     263
Name: WF, dtype: int64

In [14]:
df['mmm'].value_counts()

1000.000000    2396
20.000000       842
50.000000       595
100.000000      347
111.111100      275
               ...
32.824510         1
32.187972         1
45.187201         1
44.772663         1
73.376792         1
Name: mmm, Length: 87, dtype: int64

In [15]:
df.columns

Index(['Hm0 d', 'Tp d', 'Tm d', 'Tm1,0 d', 'hdeep', 'mmm', 'β', 'Spread s',
       'h', 'Hm0 toe', 'Tp toe', 'Tm toe', 'Tm1,0t', 'ht', 'Bt', 'cotαd',
       'cotαu', 'cotαexcl', 'cotαincl', 'gf_d', 'D50_d', 'gf_u', 'D50_u', 'gf',
       'D', 'Rc', 'B', 'hb', 'tanαB', 'Bh', 'Ac', 'Gc', 'RF', 'CF', 'WF', 'q'],
      dtype='object')

In [18]:
for var in df.columns:
    print('*'*5)
    print(var)
    print(df[var].value_counts())
    print(f'min of {var}={df[var].min()}, max of {var}={df[var].max()}, mean of {var}={df[var].mean()}')
    print('*'*5)

*****
Hm0 d
0.129000    236
0.120000     89
0.090000     82
0.140000     71
0.180000     69
           ...
0.096750      1
1.234000      1
1.210000      1
0.184500      1
0.212074      1
Name: Hm0 d, Length: 2258, dtype: int64
min of Hm0 d=0.0268, max of Hm0 d=5.92, mean of Hm0 d=0.1934538575698296
*****
*****
Tp d
1.387826    224
1.600000    171
1.384000    137
1.422000    118
1.829000    102
           ...
1.544917      1
1.681523      1
2.401000      1
1.667740      1
1.572572      1
Name: Tp d, Length: 1084, dtype: int64
min of Tp d=0.7272, max of Tp d=15.0, mean of Tp d=1.9038233988988762
*****
*****
Tm d
1.156522    224
1.600000     75
1.583333     71
1.800000     64
1.400000     43
           ...
1.365079      1
1.287431      1
1.185000      1
2.987000      1
1.953000      1
Name: Tm d, Length: 2069, dtype: int64
min of Tm d=0.5923, max of Tm d=12.5, mean of Tm d=1.58427649859395
*****
*****
Tm1,0 d
1.261660    224
1.454545     81
1.745455     75
1.727273     71
2.000000     69
           ...
2.078000      1
1.117091      1
1.022848      1
1.376700      1
1.163508      1
Name: Tm1,0 d, Length: 2057, dtype: int64
min of Tm1,0 d=0.2923057759721259, max of Tm1,0 d=13.6363636364, mean of Tm1,0 d=1.7442345406989586
*****
*****
hdeep
0.700000    561
0.320000    330
1.040000    280
0.750000    246
0.480000    224
           ...
0.433333      1
0.275774      1
0.761238      1
0.698449      1
0.651662      1
Name: hdeep, Length: 238, dtype: int64
min of hdeep=0.1203501094, max of hdeep=100.0, mean of hdeep=2.135016994417931
*****
*****
mmm
1000.000000    2396
20.000000       842
50.000000       595
100.000000      347
111.111100      275
               ...
32.824510         1
32.187972         1
45.187201         1
44.772663         1
73.376792         1
Name: mmm, Length: 87, dtype: int64
min of mmm=7.6, max of mmm=1000.0, mean of mmm=457.85079474489515
*****
*****
β
0     5068
10     126
25     105
20      63
45      60
60      56
30      45
6       31
40      21
15      15
17       9
12       9
11       8
13       7
9        7
16       6
50       4
5        4
14       4
70       3
18       3
80       3
33       2
7        2
1        2
34       1
32       1
29       1
8        1
2        1
19       1
26       1
Name: β, dtype: int64
min of β=0, max of β=80, mean of β=2.719047619047619
*****
*****
Spread s
0     5375
5      262
10      33
Name: Spread s, dtype: int64
min of Spread s=0, max of Spread s=10, mean of Spread s=0.2892416225749559
*****
*****
h
0.160000    329
0.300000    282
0.470000    282
0.500000    266
0.400000    264
           ...
4.132227      1
0.135500      1
0.272034      1
0.224000      1
0.270662      1
Name: h, Length: 348, dtype: int64
min of h=0.029, max of h=5.01, mean of h=0.5508129724495633
*****
*****
Hm0 toe
0.129000    237
0.120000     77
0.140000     73
0.180000     69
0.090000     55
           ...
0.116333      1
0.085210      1
0.056560      1
0.078210      1
0.212074      1
Name: Hm0 toe, Length: 2253, dtype: int64
min of Hm0 toe=0.020713, max of Hm0 toe=2.40307, mean of Hm0 toe=0.16737513678265978
*****
*****
Tp toe
1.387826    224
1.600000    175
1.384000    140
1.422000    128
1.707000    112
           ...
1.783593      1
2.118500      1
0.985043      1
1.272213      1
1.572572      1
Name: Tp toe, Length: 1076, dtype: int64
min of Tp toe=0.7318, max of Tp toe=13.7, mean of Tp toe=1.9187651865814774
*****
*****
Tm toe
1.156522    224
1.600000     87
1.583333     71
1.800000     68
1.166667     54
           ...
1.365079      1
1.287431      1
5.807500      1
1.185000      1
1.953000      1
Name: Tm toe, Length: 2142, dtype: int64
min of Tm toe=0.6098, max of Tm toe=10.7925, mean of Tm toe=1.5769749085337397
*****
*****
Tm1,0t
1.261660    224
1.454545     79
1.745455     74
1.727273     71
2.000000     68
           ...
1.248015      1
3.887000      1
4.995000      1
1.726074      1
1.163508      1
Name: Tm1,0t, Length: 2060, dtype: int64
min of Tm1,0t=0.2923057759721259, max of Tm1,0t=10.64, mean of Tm1,0t=1.7911296183271677
*****
*****
ht
0.500000    366
0.440000    310
0.160000    298
0.400000    279
0.300000    246
           ...
4.132227      1
0.135500      1
0.272034      1
0.224000      1
0.270662      1
Name: ht, Length: 366, dtype: int64
min of ht=0.029, max of ht=5.01, mean of ht=0.5292428069670494
*****
*****
Bt
0.000000    4535
0.130000     442
0.150000     152
0.100000      82
0.360000      61
0.400000      35
0.088889      24
0.710526      24
0.145000      24
0.066667      23
0.300000      20
0.234962      18
0.233333      17
0.105396      17
0.120000      15
0.160000      13
1.000000      13
0.307692      13
0.101000      12
0.166667      11
0.104841      11
0.416000      10
0.184615       8
0.284314       7
0.029978       7
0.422535       6
0.215385       6
0.330000       6
0.157068       6
0.800000       5
0.093985       4
0.167715       3
0.240000       3
0.137741       3
0.118224       3
0.123801       3
0.153846       3
0.097222       3
0.078000       3
0.160819       2
0.266667       2
0.200000       2
0.155000       2
0.260400       2
0.153600       2
0.094444       1
0.105401       1
0.033333       1
0.360443       1
0.500000       1
0.169529       1
0.425000       1
Name: Bt, dtype: int64
min of Bt=0.0, max of Bt=1.0, mean of Bt=0.03810920782511315
*****
*****
cotαd
2.000000    2046
4.000000     890
0.000000     571
1.250000     509
1.500000     444
3.000000     280
1.333333     151
1.000000     136
6.000000     134
2.500000      91
0.100000      71
2.700000      39
2.720000      38
0.200000      29
1.191754      24
4.400000      22
3.076923      20
7.000000      20
1.732051      20
3.250000      16
3.500000      15
2.250000      14
1.558442      12
1.333333      12
0.346154      11
0.700208      10
3.030000       9
1.400000       7
1.693000       5
1.947000       4
5.214000       3
3.600000       3
1.857000       3
3.915000       2
3.300000       2
1.330000       2
5.418000       2
5.875000       1
1.300000       1
1.772000       1
Name: cotαd, dtype: int64
min of cotαd=0.0, max of cotαd=7.0, mean of cotαd=2.1252107518850045
*****
*****
cotαu
 2.000000      1472
 4.000000       860
 0.000000       796
 1.250000       468
 1.500000       448
 3.000000       211
 50.000000      176
 1.000000       155
 6.000000       129
 2.500000       117
 1.333333       113
 0.100000        71
 8.000000        60
-0.045161        48
-5.000000        45
 2.700000        39
 2.720000        38
 0.200000        29
 0.577350        25
 1.335196        24
 1.191754        24
 1.732051        24
 4.400000        22
 100.000000      22
 7.000000        20
 1.732051        20
-0.577350        18
 3.500000        15
 0.770000        14
-1.000000        14
 2.250000        14
-1.732051        12
 0.700000        12
 1.333333        12
 2.812500        11
 0.333333        11
 0.700208        10
 5.937500         9
 6.250000         8
 2.888889         7
 1.400000         7
 0.170000         5
 1.693000         5
 5.000000         4
 1.947000         4
 1.330000         3
 5.214000         3
 1.857000         3
 3.600000         3
 5.418000         2
 1.795000         2
 3.915000         2
 1.772000         1
 5.875000         1
 1.300000         1
 0.500000         1
Name: cotαu, dtype: int64
min of cotαu=-5.0, max of cotαu=100.0, mean of cotαu=3.8558249991792266
*****
*****
cotαexcl
2.000000    1509
4.000000     830
0.000000     491
1.250000     470
1.500000     449
            ...
1.315872       1
0.098267       1
0.235067       1
2.391429       1
2.631127       1
Name: cotαexcl, Length: 719, dtype: int64
min of cotαexcl=-1.331332609667327, max of cotαexcl=7.863247863247863, mean of cotαexcl=2.0694454248177063
*****
*****
cotαincl
2.000000    1443
4.000000     684
0.000000     480
1.500000     431
3.000000     123
            ...
5.294498       1
3.199201       1
4.469211       1
8.572482       1
4.475443       1
Name: cotαincl, Length: 1514, dtype: int64
min of cotαincl=-1.331332609667327, max of cotαincl=11.29943502824859, mean of cotαincl=2.4051356147733367
*****
*****
gf_d
1.00    2924
0.40    1573
0.55     431
0.47     390
0.38     137
0.45      64
0.95      60
0.46      27
0.44      25
0.50      21
0.43      12
0.60       6
Name: gf_d, dtype: int64
min of gf_d=0.38, max of gf_d=1.0, mean of gf_d=0.7326437389770724
*****
*****
D50_d
0.000000    3139
0.042000     342
0.019800     248
0.051000     168
0.060000     165
            ...
0.036342       2
0.022700       2
0.054405       2
0.045337       1
0.054400       1
Name: D50_d, Length: 74, dtype: int64
min of D50_d=0.0, max of D50_d=1.25, mean of D50_d=0.035793228061089456
*****
*****
gf_u
1.00    3152
0.40    1553
0.47     390
0.55     223
0.38     137
0.45      64
0.95      60
0.46      27
0.44      25
0.50      21
0.43      12
0.60       6
Name: gf_u, dtype: int64
min of gf_u=0.38, max of gf_u=1.0, mean of gf_u=0.751268077601411
*****
*****
D50_u
0.000000    3200
0.042000     342
0.019800     248
0.051000     168
0.060000     165
            ...
0.022700       2
0.036342       2
0.054405       2
0.045337       1
0.054400       1
Name: D50_u, Length: 72, dtype: int64
min of D50_u=0.0, max of D50_u=1.25, mean of D50_u=0.035463410173720206
*****
*****
gf
1.000000    2881
0.400000    1070
0.400000     276
0.470000     214
0.550000     168
            ...
0.488285       1
0.388602       1
0.716052       1
0.739673       1
0.735423       1
Name: gf, Length: 421, dtype: int64
min of gf=0.3799999999999999, max of gf=1.0, mean of gf=0.7471589815520172
*****
*****
D
0.000000    3139
0.042000     300
0.019800     217
0.051000     163
0.045000     112
            ...
0.050814       1
0.047917       1
0.025270       1
0.046571       1
0.027869       1
Name: D, Length: 373, dtype: int64
min of D=0.0, max of D=1.25, mean of D=0.03502912964313871
*****
*****
Rc
0.100000    539
0.200000    335
0.110000    273
0.170000    190
0.350000    185
           ...
0.139446      1
0.151500      1
4.432728      1
0.134667      1
0.140818      1
Name: Rc, Length: 477, dtype: int64
min of Rc=0.0, max of Rc=4.492858, mean of Rc=0.25131084736700166
*****
*****
B
0.000000    4197
0.400000     510
0.500000     129
0.150000     116
1.000000     101
0.300000      64
1.450000      60
0.333333      48
0.650000      41
0.600000      36
0.200000      35
0.285714      30
0.333333      29
0.666667      24
1.333333      23
0.100000      19
0.381000      18
0.523077      16
0.360000      15
0.247000      15
0.210000      15
2.000000      14
0.800000      12
0.166667      12
0.791667      11
0.687500      11
0.544000      10
0.375000       9
0.430000       7
0.330000       7
0.461538       6
0.260000       6
0.070000       5
0.008333       5
0.140000       4
0.182292       3
0.383333       2
0.479000       1
0.340000       1
0.348960       1
0.379699       1
0.328947       1
Name: B, dtype: int64
min of B=0.0, max of B=2.0, mean of B=0.13000244651256818
*****
*****
hb
 0.000000    3912
 0.040000     422
 0.080000     101
-0.055000      91
-0.040000      71
             ...
-0.166330       1
 0.063750       1
-0.012700       1
 0.083363       1
 0.080162       1
Name: hb, Length: 182, dtype: int64
min of hb=-0.27, max of hb=1.09, mean of hb=0.016565476249231065
*****
*****
tanαB
0.000000    5401
0.020000     149
0.089655      60
0.010000      49
0.042105      11
Name: tanαB, dtype: int64
min of tanαB=0.0, max of tanαB=0.0896551724, mean of tanαB=0.0016424106241975306
*****
*****
Bh
0.000000    4202
0.400000     510
0.500000     129
0.150000     116
1.000000     101
0.300000      64
0.670000      60
0.333333      48
0.650000      41
0.600000      36
0.200000      35
0.285714      30
0.333333      29
0.666667      24
1.333333      23
0.100000      19
0.381000      18
0.523077      16
0.247000      15
0.360000      15
0.210000      15
2.000000      14
0.800000      12
0.166667      12
0.780342      11
0.687500      11
0.544000      10
0.375000       9
0.430000       7
0.330000       7
0.461538       6
0.260000       6
0.070000       5
0.008333       5
0.140000       4
0.383333       2
0.340000       1
0.379699       1
0.328947       1
Name: Bh, dtype: int64
min of Bh=0.0, max of Bh=2.0, mean of Bh=0.12148403246487856
*****
*****
Ac
 0.100000    544
 0.110000    333
 0.200000    311
 0.150000    225
 0.170000    192
            ...
 0.211000      1
 4.432728      1
 0.133400      1
 4.102207      1
-0.003960      1
Name: Ac, Length: 471, dtype: int64
min of Ac=-0.03, max of Ac=4.492858, mean of Ac=0.2383463484462499
*****
*****
Gc
0.000000    3140
0.130000     442
0.200000     230
0.310000     187
0.204000     168
            ...
0.091450       1
0.316667       1
0.115000       1
0.266667       1
0.441667       1
Name: Gc, Length: 98, dtype: int64
min of Gc=0.0, max of Gc=4.8, mean of Gc=0.1563655269331854
*****
*****
RF
1    2929
2    2741
Name: RF, dtype: int64
min of RF=1, max of RF=2, mean of RF=1.4834215167548501
*****
*****
CF
1    5071
2     599
Name: CF, dtype: int64
min of CF=1, max of CF=2, mean of CF=1.1056437389770724
*****
*****
WF
6    2814
9    2593
4     263
Name: WF, dtype: int64
min of WF=4, max of WF=9, mean of WF=7.279188712522046
*****
*****
q
0.000002    25
0.000003    20
0.000014    19
0.000005    15
0.000001    14
            ..
0.000032     1
0.000015     1
0.000085     1
0.002156     1
0.000231     1
Name: q, Length: 3112, dtype: int64
min of q=1e-06, max of q=0.165, mean of q=0.0010107662908275883
*****

In [19]:
scaler = StandardScaler()

In [21]:
df_inputs = df[df.columns[:-1]]

In [23]:
X_scaled = scaler.fit_transform(df_inputs)

In [34]:
X_scaled.shape

(5670, 35)

In [29]:
df_scaled = pd.DataFrame(data = X_scaled, columns = df.columns[:-1])

In [31]:
df_scaled['q'] = df['q']

In [32]:
df_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5670 entries, 0 to 5669
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     5670 non-null   float64
 1   Tp d      5670 non-null   float64
 2   Tm d      5670 non-null   float64
 3   Tm1,0 d   5670 non-null   float64
 4   hdeep     5670 non-null   float64
 5   mmm       5670 non-null   float64
 6   β         5670 non-null   float64
 7   Spread s  5670 non-null   float64
 8   h         5670 non-null   float64
 9   Hm0 toe   5670 non-null   float64
 10  Tp toe    5670 non-null   float64
 11  Tm toe    5670 non-null   float64
 12  Tm1,0t    5670 non-null   float64
 13  ht        5670 non-null   float64
 14  Bt        5670 non-null   float64
 15  cotαd     5670 non-null   float64
 16  cotαu     5670 non-null   float64
 17  cotαexcl  5670 non-null   float64
 18  cotαincl  5670 non-null   float64
 19  gf_d      5670 non-null   float64
 20  D50_d     5670 non-null   float64
 21  gf_u      5670 non-null   float64
 22  D50_u     5670 non-null   float64
 23  gf        5670 non-null   float64
 24  D         5670 non-null   float64
 25  Rc        5670 non-null   float64
 26  B         5670 non-null   float64
 27  hb        5670 non-null   float64
 28  tanαB     5670 non-null   float64
 29  Bh        5670 non-null   float64
 30  Ac        5670 non-null   float64
 31  Gc        5670 non-null   float64
 32  RF        5670 non-null   float64
 33  CF        5670 non-null   float64
 34  WF        5670 non-null   float64
 35  q         5670 non-null   float64
dtypes: float64(36)
memory usage: 1.6 MB

In [33]:
df_scaled.to_excel('database_v02.xlsx')

In [35]:
import pickle

In [37]:
pickle.dump(scaler, open('scaler_databasev_02.pkl','wb'))

In [38]:
scaler = pickle.load(open('scaler_databasev_02.pkl','rb'))

In [48]:
row_2_original_scale = df.iloc[1].values[:-1]

In [49]:
scaler.transform(row_2_original_scale.reshape(1,-1))

/home/omar/tarek/env/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-0.1798709 , -0.24557737, -0.24408813, -0.25871238, -0.12304023,
         1.16370356,  1.79844753, -0.22493227,  0.29378298, -0.18508248,
        -0.25361117, -0.24404672, -0.29244477,  0.33056285, -0.37445852,
         1.40647667,  0.01386129,  1.29828889,  0.96582518,  0.94294737,
        -0.24736092,  0.872319  , -0.24501768,  0.92084429, -0.24212329,
        -0.02202015, -0.46468807, -0.1434244 , -0.16661021, -0.48478554,
         0.00320486, -0.27883848, -0.96737494, -0.34368977,  1.05408962]])

In [52]:
log_transformed_q = np.log10(df['q'])

In [54]:
log_transformed_q.min(), log_transformed_q.max(), log_transformed_q.mean()

(-6.0, -0.7825160557860937, -4.212165502918407)

In [58]:
# inverse of z = log10(x) is x = 10**(z)

In [60]:
df_scaled['log_q'] = log_transformed_q

In [62]:
df_scaled.to_excel('database_v03.xlsx', index=False)